.news_content{
    padding: 30px 0 100px;
}


.pic{
    padding: 50px 0 50px;
}


.pic img{
    display: block;
    margin: auto;
    max-width: 100%;
}

h2.md_24px {
    padding: 20px 0 25px;
}


h3.md_20px {

    padding: 30px 0 15px;
}

p.md_16px {
    padding: 10px 0;
}

.card_date {
    display: block;
    padding-top: 20px;
}